/* change font size pending make envelope head and parallax */
html{
    scroll-behavior: smooth;
}

body {
    height: 900px;
    padding-top: 55px;
    scroll-padding-top: 70px;
    z-index: auto;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: floralwhite;
}

body::-webkit-scrollbar-thumb {
    background: #ff6d92 linear-gradient(45deg, #f5b200 0%, #fc636b 75%);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    font-weight: 300;
    background: #ff6d92 linear-gradient(-45deg, #f5b200 0%, #fc636b 75%);
}

.navbar-brand {
    margin-left: auto;
}

#aboutusnav,
#portfolionav,
#teamnav
{
  margin-bottom: 9vh;
}

#pricingnav,
#servicesnav{
  margin-bottom: 7vh;
}

li,
a {
    font-family: "Comic Neue", sans-serif;
    font-weight: 500;
    /* font-size: 18px; */
    text-decoration: none;
}

.overlay p {
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
  .font1{
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
    .overlay p {
        font-size: 15px;
    }
    .btn1 {
      font-size: 10px;

    }
    .btn2 {
        display: none;
    }
    .btn3{
      display: none;
    }
    .float{
    	position:fixed;
    	width:50px;
    	height:50px;
    	bottom:40px;
    	right:40px;
    	background-color:#0C9;
    	color:#FFF;
    	border-radius:50px;
    	text-align:center;
    	box-shadow: 2px 2px 3px #999;
      z-index: 2;
    }

    .my-float{
    	margin-top:18px;
    }
    .font1{
      font-size: 15px;
    }

}

@media only screen and (max-width: 400px) {
    .overlay p {
        font-size: 12px;
    }
    .btn1 {
      font-size: 8px;

    }
    .btn2 {
        display: none;
    }
    .btn3{
      display: none;
    }

    .float{
    	position:fixed;
    	width:50px;
    	height:50px;
    	bottom:40px;
    	right:40px;
    	background-color:#0C9;
    	color:#FFF;
    	border-radius:50px;
    	text-align:center;
    	box-shadow: 2px 2px 3px #999;
      z-index: 2;
    }

    .my-float{
    	margin-top:18px;
    }

    .font1{
      font-size: 15px;
    }



}


a:hover {
    color: white;
    text-decoration: none;
}

header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    /* padding-top: 5; */
    /* border-radius: 0 0 85% 85% / 30%; */
    /* border-radius: 0px 0px 100px 100px; */
    /* border-radius: 0 0 50% 50%/50%; */
    /* border-radius: 0 0 50% 50%/50%; */
}

.parallax{
   /* The image used */
  background-image: url(img/3.png);

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

header .overlay {
    width: 100%;
    height: 95vh;
    padding: 100px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background: linear-gradient(45deg, #f5b200 0%, #fc636b 75%);
}

h1 {
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.aboutus {
    text-align: center;
}

.effects::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #f5b200 5%, #fc636b 75%);
}

.effects {
    background-size: cover;
}

.container,
h1,
p {
    z-index: 1;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-green{
  color: green;
}

.color-red{
  color: red;
}

#services {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    text-align: center;
}

.pricing {
    text-align: center;
}

#pricing {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    text-align: center;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-gold{
  background: -webkit-linear-gradient(45deg, #FDE08D, #DF9F28, #FDE08D);
}

.color-diamond{
  background: -webkit-linear-gradient(-45deg, #FFFFFF, #BEC0C2, #FFFFFF);
}

.color-platinum{
  background: -webkit-linear-gradient(45deg, #ffffff, #66ffff, #ffffff);
}

.team {
    text-align: center;
}

.modal-title{
  margin-left: auto;
  justify-content: center;
}

#team {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    z-index: -1;
    /* margin-left: 10px; */
}

.vid {
    border: 6px solid #f18d08;
    /* background: -webkit-linear-gradient(-45deg, #FDE08D, #DF9F28, #FDE08D); */
    border-radius: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
}

.text_inline1 {
    display: inline;
}

.widgets_div .icon_div {
    display: inline-block;
    margin-left: 15px;
    width: inherit;
}

.widgets_div .text_div {
    display: inline-block;
    margin-left: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#twitter:hover {
    background-color: #00acee;
}

#web:hover {
    background-color: black;
    border: white;
}

#facebook:hover {
    background-color: #3b5998;
}

#linkedin:hover {
    background-color: #0e76a8;
}

#twitter {
    background-color: #dc3545;
    border-color: white;
}

#web {
    background-color: #dc3545;
    border-color: white;
}

#facebook {
    background-color: #dc3545;
    border-color: white;
}

#linkedin {
    background-color: #dc3545;
    border-color: white;
}

#footer {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    margin-left: 10%;
    border-radius: 50px;
}

.btn1:hover {
    margin-left: 10%;
    background-image: linear-gradient( 45deg, #cc2b5e 10%, #fd5e086b 100%);
    color: white
}

.btn2 {
    margin-left: 10%;
    border-radius: 50px;
}

.btn2:hover {
    margin-left: 10%;
    background-image: linear-gradient( -45deg, #cc2b5e 10%, #fd5e086b 100%);
    color: white;
}

.btnn{
  color:white;
}

.btn4{
  background-color: green;
  color: white;
  border-radius: 50px;
}

.btn4:hover{
  background-color: green;
  color: black;
  border-radius: 50px;
}

.btn5{
  background-color: #b9070f;
  color: white;
  border-radius: 50px;
}

.btn5:hover{
  background-image: linear-gradient( -45deg, #cc2b5e 10%, #fd5e086b 100%);
  color: black;
  border-radius: 50px;
}

#copyright {
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @media only screen and (max-device-width: 600px) {
  .form-control1 {
      border: none;
      border-radius: 30px;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .1rem .1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border-bottom: 1px solid black;
      border-radius: 0rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      padding-bottom: 10px;
  }

}
 */

.form-control1 {
    border: none;
    border-radius: 30px;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid black;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




.btn-success:hover{
  color: white;
}

.btn-danger{
  color: white;
}

a:not([href]) {
    color: white;
    text-decoration: none;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index: 2;
}

.my-float{
	margin-top:22px;
}

.contact-title{
  background: linear-gradient(45deg, #f5b200 0%, #fc636b 75%);
}

.close{
  color:white;
}

.nav-link:hover{
  background: -webkit-linear-gradient(-45deg, #FDE08D, #DF9F28, #FDE08D);
  border-radius: 50px;
}

.f-link{
  color:black;
}

.f-link:hover{
  text-decoration: none;
  color:white;
}
