<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </head>
  <body>
    {% load static %}

    <!--9 start of message modal  for contactus-->


    <!-- <div class="fb-customerchat" page_id="104101318042849">
    </div> -->

    <div id="contact" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header contact-title">
            <h4 class="modal-title color-icon font-merryweather1">CONTACT US </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <!--Section: Contact v.2-->
            <div class="mb-4">
              <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                  <form id="contact-form" action="{% url 'contact' %}" name="contact-form" method="POST">
                    {% csrf_token %}

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form mb-0">
                        <div class="form-group">
                          <input type="text" id="name" name="name" class="form-control1">
                          <label for="name" class="">Your name</label>
                          <p id="namecheck"> </p>
                        </div>
                        </div>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form mb-0">
                          <div class="form-group">
                            <input type="text" id="email" name="email" class="form-control1" required>
                            <label for="email" class="">Your email</label>
                            <p id="emailcheck"> </p>

                          </div>
                        </div>
                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="md-form mb-0">
                        <div class="form-group">
                          <input type="text" id="subject" name="subject" class="form-control1">
                          <label for="subject" class="">Subject</label>
                            <p id="subjectcheck"> </p>

                        </div>
                        </div>
                      </div>
                    </div>
                    <!--Grid row-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="md-form mb-0 mt-3">
                          <div class="form-group">
                            <select class="form-control1" name="package" id="package">
                              <option value=" ">Select Package</option>
                              <option value="Website">Website</option>
                              <option value="App">App Development</option>
                              <option value="Graphics">Graphics Design</option>
                            </select>
                            <!-- <p class="help-block text-danger"></p> -->
                              <h5 id="packagecheck"> </h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-0 mt-3">
                          <div class="form-group">
                            <select class="form-control1" name="plan" id="plan">
                              <option value=" ">Select Plan</option>
                              <option value="Gold">Gold</option>
                              <option value="Diamond">Diamond</option>
                              <option value="Platinum">Platinum</option>
                              <!-- <p class="help-block text-danger"></p> -->
                            </select>
                              <h5 id="plancheck"> </h5>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-md-12">

                        <div class="md-form">
                          <div class="form-group">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control1 md-textarea"></textarea>
                            <label for="message">Your message</label>
                            <h5 id="messagecheck"> </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Grid row-->

                  </form>
                  <div class="status pb-2" style="color:red; text-align:center;"></div>
                  <div class="text-center text-md-center">
                    <!-- <input class="btn4 mt-2 mx-3" type="submit" name="button" value="Send" onclick="validateForm()" onclick="document.getElementById('contact-form').submit();"> -->
                    <a> <input type="submit" name="" id="submitbtn" value="Submit" class="btn btn-success"></a>
                    <a><button class="btn5 mt-2 mx-3" type="button" name="button" onclick="document.getElementById('contact-form').reset();">CLEAR</button></a>
                  </div>
                  <!-- <div class="status" style="color:red;"></div> -->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                  <ul class="list-unstyled mb-0">
                    <li><i class="fa fa-map fa-lg"></i>
                      <p class="font1 font-bebas">Kathmandu 44600, NEPAL</p>
                    </li>

                    <li><i class="fa fa-phone mt-4 fa-lg"></i>
                      <p class="font1 font-bebas">+977-(xxxxxxxxxx)</p>
                    </li>

                    <li><i class="fa fa-envelope mt-4 fa-lg"></i>
                      <p class="font1 font-bebas">degndev@gmail.com</p>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
              </div>
            </div>
            <!--Section: Contact v.2-->
          </div>
        </div>
      </div>
    </div>
    <!-- message modal for contact usend -->

    <script type="text/javascript">
      $(document).ready(function() {

        $('#namecheck').hide();
        $('#emailcheck').hide();
        $('#subjectcheck').hide();
        $('#packagecheck').hide();
        $('#plancheck').hide();
        $('#messagecheck').hide();

        var name_err = true;
        var email_err = true;
        var subject_err = true;
        var package_err = true;
        var plan_err = true;
        var message_err = true;

        $('#name').keyup(function() {
          name_check();
        });

        function name_check() {

          var name_val = $('#name').val();

          if (name_val.length == '') {
            $('#namecheck').show();
            $('#namecheck').html("**Please Fill the username");
            $('#namecheck').focus();
            $('#namecheck').css("color", "red");
            name_err = false;
            return false;

          } else {
            $('#namecheck').hide();
          }

          if ((name_val.length < 3) || (name_val.length > 20)) {
            $('#namecheck').show();
            $('#namecheck').html("**Username length must be between 3 and 10");
            $('#namecheck').focus();
            $('#namecheck').css("color", "red");
            name_err = false;
            return false;

          } else {
            $('#namecheck').hide();
          }

        }

        // email check
        $('#email').keyup(function() {
          email_check();
        });

        function email_check() {

          var email_val = $('#email').val();

          if (email_val.length == '') {
            $('#emailcheck').show();
            $('#emailcheck').html("**Please Enter Valid Email");
            $('#emailcheck').focus();
            $('#emailcheck').css("color", "red");
            email_err = false;
            return false;

          } else {
            $('#emailcheck').hide();
          }


            if ((email_val.length < 3) || (email_val.length > 30)) {
            $('#emailcheck').show();
            $('#emailcheck').html("**Invalid Email");
            $('#emailcheck').focus();
            $('#emailcheck').css("color", "red");
            email_err = false;
            return false;

          } else {
            $('#emailcheck').hide();
          }

        }


        //subject
        $('#subject').keyup(function() {
          subject_check();
        });

        function subject_check() {

          var subject_val = $('#subject').val();

          if (subject_val.length == '') {
            $('#subjectcheck').show();
            $('#subjectcheck').html("**Please Enter Subject");
            $('#subjectcheck').focus();
            $('#subjectcheck').css("color", "red");
            subject_err = false;
            return false;

          } else {
            $('#subjectcheck').hide();
          }


            if ((subject_val.length < 3) || (subject_val.length > 10)) {
            $('#subjectcheck').show();
            $('#subjectcheck').html("**Subject length must be between 3 and 10");
            $('#subjectcheck').focus();
            $('#subjectcheck').css("color", "red");
            subject_err = false;
            return false;

          } else {
            $('#subjectcheck').hide();
          }

        }

        $('#subject').keyup(function() {
          subject_check();
        });

        function subject_check() {

          var subject_val = $('#subject').val();

          if (subject_val.length == '') {
            $('#subjectcheck').show();
            $('#subjectcheck').html("**Please Enter Subject");
            $('#subjectcheck').focus();
            $('#subjectcheck').css("color", "red");
            subject_err = false;
            return false;

          } else {
            $('#subjectcheck').hide();
          }


            if ((subject_val.length < 3) || (subject_val.length > 10)) {
            $('#subjectcheck').show();
            $('#subjectcheck').html("**Subject length must be between 3 and 10");
            $('#subjectcheck').focus();
            $('#subjectcheck').css("color", "red");
            subject_err = false;
            return false;

          } else {
            $('#subjectcheck').hide();
          }

        }

        //message
        $('#message').keyup(function() {
          message_check();
        });

        function message_check() {

          var message_val = $('#message').val();

          if (message_val.length == '') {
            $('#messagecheck').show();
            $('#messagecheck').html("**Please Enter Message");
            $('#messagecheck').focus();
            $('#messagecheck').css("color", "red");
            message_err = false;
            return false;

          } else {
            $('#messagecheck').hide();
          }


            if ((message_val.length < 3) || (message_val.length > 10)) {
            $('#messagecheck').show();
            $('#messagecheck').html("**Message length must be between 3 and 10");
            $('#messagecheck').focus();
            $('#messagecheck').css("color", "red");
            message_err = false;
            return false;

          } else {
            $('#messagecheck').hide();
          }

        }



        $('#submitbtn').click(function() {

          name_err = true;
          email_err = true;
          subject_err = true;
          message_err = true;

          name_check();
          email_check();
          subject_check();
          message_check();

          if ((name_err == true) && (email_err == true) && (subject_err == true) && (message_err == true)) {
            return document.getElementById('contact-form').submit();
          } else {
            return false;
          }

        });

      });
    </script>

  </body>
</html>
