{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<h1 id="head">
  <a href="/admin"><img class="brand_img" src="{% static 'media/logo1.png' %}" alt="DEGnDEV"></a>
</h1>

{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link rel="icon" id="favicon" type="icon" href="{% static 'media/favicon.ico' %}">
<link rel="stylesheet" href="https://v2.djangosuit.com/static/suit/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" href="https://v2.djangosuit.com/static/admin/css/dashboard.css">
<link rel="stylesheet" href="https://v2.djangosuit.com/static/suit/css/suit.css">


<script src="https://djangosuit.com/admin/jsi18n/"></script>
<script src="https://djangosuit.com/static/suit/js/jquery-1.8.3.min.js"></script>
<script src="https://djangosuit.com/static/admin/js/core.js"></script>
<script src="https://djangosuit.com/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="https://djangosuit.com/static/admin/js/jquery.init.js"></script>
{% endblock %}
