{% load static %}

<section class="effect-footer color-white" id="footer">
  <footer class="footer py-4 page-footer text-center text-md-left pt-0">
    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">
        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-5">
          <div class="footerlogo">
            <img src="{% static 'media/logo.png' %}" width="100%" alt="">
          </div>
        </div>
        <!-- First column -->

        <!-- Third column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-5">

          <p>
            <i class="fa fa-question-circle fa-lg mr-2 color-icon" aria-hidden="true"></i>
            <a class="f-link" href="#!">FAQ</a>
          </p>

          <p>
            <i class="fa fa-info-circle fa-lg mr-2 color-icon" aria-hidden="true"></i>
            <a class="f-link" href="#!">Help</a>
          </p>
        </div>
        <!-- Third column -->

        <!-- Fourth column -->
        <div class="col-md-4 col-lg-4 col-xl-3">

          <p>
            <i class="fa fa-map-marker fa-lg mr-3 color-icon"></i><span class="color-icontext font-bebas"><strong>Kathmandu-44600, NEPAL</strong> </span> </p>
          <p>
            <i class="fa fa-envelope fa-md mr-3 color-icon"></i><span class="color-icontext font-bebas"><strong>degndev@gmail.com</strong> </span> </p>
          <p>
            <i class="fa fa-phone fa-lg mr-3 color-icon"></i><span class="color-icontext font-bebas"><strong> (+977) -</strong> </span> </p>
        </div>
        <!-- Fourth column -->
      </div>
      <!-- Footer Links -->
      <!-- Footer-->
      <div class="row align-items-center wrapper">
        <div class="col-lg-4 text-lg-left"><a class="mr-5 f-link" id="bottom" target="_blank" href="https://www.privacypolicies.com/privacy/view/52d6c39e0b3b183d79d439e15fb9b004">Privacy Policy</a>
          <a class="f-link" href="https://www.privacypolicies.com/terms/view/388e64204c1e0fb8d6f61a8dc5ad4e0e" id="bottom" target="_blank">Terms and conditions</a></div>
        <div class="col-lg-4 text-lg-center color-black">&#169;copyright @ 2020 Degndev</div>
        <div class="col-lg-4 text-lg-right">
          <a class="f-link" href="#main" id="bottomlink"><i class="fa fa-angle-double-up"></i> Go to top </a>
        </div>
      </div>
    </div>
  </footer>
</section>
