{% load static %}

<div id="main"></div>
<header>
  <div class="fixed-top mt-sm-1 py-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  </div>
  <div class="parallax overlay">
    <div class="mt-5">
      <p class="color-black font-merryweather ml3  animate__animated animate__bounceInDown">Welcome to DEG n DEV</p>
      <p class="color-black font-merryweather ml31"><span class="text-wrapper">
          <span class="letters">Graphics Design and Development all in one place</span>
        </span>
      </p>

    </div>
    <div>
      <a href="#aboutusnav"><button class="btn2 mt-3 mx-3 animate__animated animate__bounceInUp" type="button" name="button">GET STARTED</button></a>
      <button class="btn1 mt-3 mx-3 animate__animated animate__bounceInDown" type="button" data-toggle="modal" data-target="#contact" name="button">CONTACT US</button>
      <!--yesma onclick="openNav1()"-->
    </div>
  </div>
</header>
