{% load static %}

<!--3) about us start -->

<div id="aboutusnav"></div>
<section class="color-icontext">
  <div class="aboutus">
    <div class="mt-0">
      <div class="mt-0">
        <h1 class="font-galada">About Us</h1>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-sm-7 col-md-6">
      <div class="video" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="mt-5">
        </div>
        <video class="vid" controls data-play="hover" muted="muted" height="auto" width="50%">
          <source src="{% static 'media/video.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="mt-5 col-md-6 col-sm-5" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine">
      <div class="row">
        <div class="col-12 justifyy" style="justify-content: center;">
          <h2 class="font-merryweather1">DEG N DEV</h2>
          <p class="font-bebas-lg" style="justify-content: center;"><span class="pl-5">D</span>esign and Developer is a well managed site that helps you from the very begining stage to the deploy stage of Website and App-development.
            <br> Also we design any type of graphics designing item.such as: Logo Desgining, Business card, Flyers, Brochures, Bill boards, etc.
            <br> Our well-disciplined and reliable team is here to provide their skilled and knowledge to get the satisfaction of the customers.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>

<!-- about us end -->
