{% load static %}

<!--3) about us start -->

<div id="aboutusnav"></div>
<section class="color-icontext">
  <div class="aboutus">
    <div class="mt-0">
      <div class="mt-0">
        <h1 class="font-galada">About Us</h1>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="video px-3 "data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="mt-5">
          </div>
          <video class="vid" controls data-play="hover" muted="muted" height="auto" width="50%">
            {% for p in portfolios.all %}
            <source src="{{ p.video.url }}" type="video/mp4">
            {% endfor %}

          </video>
        </div>
    </div>

    <div class="mt-5 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine">
      <div class="row">
    <div class="col-12 justifyy" style="justify-content: center;">
      <h1 class=" px-4 font-merryweather1">DEG N DEV</h1>
      <p class="font-bebas-md px-4" style="justify-content: center;"><strong><span style="font-size:18px;"><span class="pl-5">D</span>esign and Development</span></strong> is a well managed site that helps you from the very begining stage to the deploy stage of Website and
        App-development.
        <br><br> Also we design any type of graphics designing item.such as: Logo Desgining, Business card, Flyers, Brochures, Bill boards, etc.
        <br><br> Our well-disciplined and reliable team is here to provide their skilled and knowledge to get the satisfaction of the customers.</p>

    </div>

  </div>
</div>
</div>
<!-- Specialized  start-->
<div class="col-12 justifyy mt-5" data-aos="fade-in" style="text-align:justify">
  <h1 class="font-merryweather1" style="text-align:center">We Are Specialized In:</h1>
  <br>
  <div class="jumbotron pl-lg-5 ml-lg-5 pl-md-5 ml-md-5 bg-white" data-aos="fade-right">
   <div class="row pl-lg-5 pl-md-5 pl-sm-3 pl-1">
     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/html.png' %}" alt="html" height="50px" width="50px">
       <p class="pt-1 px-1">HTML</p>
     </div>
     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/css.png' %}" alt="css" height="50px" width="50px">
       <p class="pt-1 px-2">CSS</p>
     </div>
     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/js.png' %}" alt="js" height="50px" width="50px">
       <p class="pt-1 px-3">JS</p>
     </div>
     <div class="col-lg-2 px-4 col-4 color-black">
       <img src="{% static 'media/bootstrap.png' %}" alt="bootstrap" height="50px" width="50px">
       <p class="pt-1">Bootstrap</p>
     </div>
     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/wordpress.png' %}" alt="wordpress" height="50px" width="50px">
       <p class="pt-1" style="text-align:left">Wordpress</p>
     </div>
     <div class="col-lg-2 col-4 px-4 color-black">
       <img src="{% static 'media/shopify.png' %}" alt="shopify" height="50px" width="50px">
       <p class="pt-1">Shopify</p>
     </div>
   </div>
   <br><br>


   <div class="row pl-lg-5 pl-md-5 pl-sm-3 pl-1" data-aos="fade-right">

     <div class="col-lg-2  col-4 px-3 color-black">
       <img src="{% static 'media/python.png' %}" alt="python" height="50px" width="70px">
       <p class="pt-1 px-2">Python</p>
     </div>

     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/django.png' %}" alt="django" height="50px" width="50px">
       <p class="pt-1 ">Django</p>
     </div>

     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/ai.png' %}" alt="Ai" height="50px" width="50px">
       <p class="pt-1 px-3">Ai</p>
     </div>
     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/ps.png' %}" alt="ps" height="50px" width="50px">
       <p class="pt-1">Photoshop</p>
     </div>
     <div class="col-lg-2  col-4  px-4 color-black">
       <img src="{% static 'media/flutter.png' %}" alt="flutter" height="50px" width="50px">
       <p class="pt-1 px-2">Flutter</p>
     </div>
     <div class="col-lg-2  col-4 px-4 color-black">
       <img src="{% static 'media/bug.png' %}" alt="bug fix" height="50px" width="50px">
       <p class="pt-1 ">Bug Fix</p>
     </div>
   </div>
 </div>


</div>
<!-- Specialized  end-->
</section>
<br>



<!-- about us end -->
