{% load static %}

<!--9 start of message modal  for contactus-->
<a href="#" data-toggle="modal" data-target="#contact" class="animate__animated animate__bounceInRight animate__delay-1s float">
  <div class="float-icon">
    <i class="fa fa-envelope-o fa-lg my-float"></i>
  </div>
</a>

<!-- <div class="fb-customerchat" page_id="104101318042849">
</div> -->

<div id="contact" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header contact-title">
        <h4 class="modal-title color-icon font-merryweather1">CONTACT US </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <!--Section: Contact v.2-->
        <div class="mb-4">
          <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
              <form id="contact-form" name="contact-form" method="POST">

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="name" name="name" class="form-control1">
                      <label for="name" class="">Your name</label>
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="email" name="email" class="form-control1">
                      <label for="email" class="">Your email</label>
                    </div>
                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="subject" name="subject" class="form-control1">
                      <label for="subject" class="">Subject</label>
                    </div>
                  </div>
                </div>
                <!--Grid row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form mb-0 mt-3">
                      <div class="form-group">
                        <select class="form-control" name="package" id="package">
                          <option value=" ">Select Package</option>
                          <option value="1">Website</option>
                          <option value="2">App Development</option>
                          <option value="3">Graphics Design</option>
                        </select>
                        <!-- <p class="help-block text-danger"></p> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form mb-0 mt-3">
                      <div class="form-group">
                        <select class="form-control" name="plan" id="plan">
                          <option value=" ">Select Plan</option>
                          <option value="1">Gold</option>
                          <option value="2">Diamond</option>
                          <option value="3">Platinum</option>
                          <!-- <p class="help-block text-danger"></p> -->
                        </select>
                      </div>

                    </div>
                  </div>
                </div>

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                    <div class="md-form">
                      <textarea type="text" id="message" name="message" rows="2" class="form-control1 md-textarea"></textarea>
                      <label for="message">Your message</label>
                    </div>
                  </div>
                </div>
                <!--Grid row-->

              </form>
              <div class="status pb-2" style="color:red; text-align:center;"></div>
              <div class="text-center text-md-center">
                <a><button class="btn4 mt-2 mx-3" type="button" name="button" onclick="validateForm()" onclick="document.getElementById('contact-form').submit();">SEND</button></a>
                <a><button class="btn5 mt-2 mx-3" type="button" name="button" onclick="document.getElementById('contact-form').reset();">CLEAR</button></a>
              </div>
              <!-- <div class="status" style="color:red;"></div> -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map fa-lg"></i>
                  <p class="font1 font-bebas">Kathmandu 44600, NEPAL</p>
                </li>

                <li><i class="fa fa-phone mt-4 fa-lg"></i>
                  <p class="font1 font-bebas">+977-(xxxxxxxxxx)</p>
                </li>

                <li><i class="fa fa-envelope mt-4 fa-lg"></i>
                  <p class="font1 font-bebas">degndev@gmail.com</p>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
        </div>
        <!--Section: Contact v.2-->
      </div>
    </div>
  </div>
</div>
<!-- message modal for contact usend -->
