{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--5) portfolio start -->
<div id="portfolionav"></div>
<section class="portfolio color-icontext" id="portfolio">
  <div class="container">
    <div class="mt-5">
      <h1 class="font-galada">Portfolio</h1>
    </div>
    <div class="album">
      <div class="container">
        <div class="row">
          <div class="col-md-4" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card mb-4 shadow-sm">
              <a href="{% url 'logos' %}"><img class="card-img-top" src="{% static 'media/logo.png' %}" height="250px" alt="Card image cap"></a>
              <div class="card-body">
                <p class="card-text font-merryweather1">Logo</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card mb-4 shadow-sm">
              <a href="{% url 'webs' %}"><img class="card-img-top" src="{% static 'media/logo.png' %}" height="250px" alt="Card image cap"></a>
              <div class="card-body">
                <p class="card-text font-merryweather1">Website</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card mb-4 shadow-sm">
              <a href="{% url 'apps' %}"><img class="card-img-top" src="{% static 'media/logo.png' %}" height="250px" alt="Card image cap"></a>
              <div class="card-body">
                <p class="card-text font-merryweather1">App</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>

<!-- end portfolio -->
