{% load static %}
<!--4) services start -->
<div id="servicesnav"></div>
<div class="effect-services" id="services">
  <div class="container">
    <div class="mt-5 mb-5">
      <br>
      <h1 class="color-icon font-galada pt-3">Our Services</h1>
    </div>
    <br>
    <div class="row mb-5 pb-5">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-6">

        <!-- Grid row -->
        <div class="row mb-5" data-aos="zoom-in">
          <div class="col-2">
            <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
              <span class="color-icon"><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></span>
            </a>
          </div>
          <div class="col-9 pl-5">
            <h4 class="font-weight-bold color-icontext font-merryweather1">Graphics Design</h4>
            <p class="color-icontext font-bebas">We are familier with all type of adobe applications like Adobe illustrator, Photoshop, Indesign, etc.
            </p>
          </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-5" data-aos="zoom-in">
          <div class="col-2">
            <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
              <span class="color-icon"><i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i></span>
            </a>
          </div>
          <div class="col-9 pl-5">
            <h4 class="font-weight-bold color-icontext font-merryweather1">Web Development</h4>
            <p class="color-icontext font-bebas">We develop the websites from the scratch using the Python, Django, php and laravel.
            </p>
          </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-5" data-aos="zoom-in">
          <div class="col-2">
            <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
              <span class="color-icon"><i class="fa fa-mobile fa-4x" aria-hidden="true"></i></span>
            </a>
          </div>
          <div class="col-9 pl-5">
            <h4 class="font-weight-bold color-icontext font-merryweather1">App Development</h4>
            <p class="color-icontext font-bebas">We build Native apps or hybrid apps according to your needs.
            </p>
          </div>
        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-12 col-lg-6">
        <!-- animate__animated animate__bounceInRight animate__delay-2s -->

        <!-- Grid row -->
        <div class="row mb-5" data-aos="zoom-in">
          <div class="col-2">
            <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
              <span class="color-icon"><i class="fa fa-laptop fa-3x" aria-hidden="true"></i></span>
            </a>
          </div>
          <div class="col-9 pl-5">
            <h4 class="font-weight-bold color-icontext font-merryweather1">Web Design</h4>
            <p class="color-icontext font-bebas">We design websites Full coded version Websites, Wordpress websites or shopify sites.
            </p>
          </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-5" data-aos="zoom-in">
          <div class="col-2">
            <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
              <span class="color-icon"><i class="fa fa-cogs fa-3x" aria-hidden="true"></i></span>
            </a>
          </div>
          <div class="col-9 pl-5">
            <h4 class="font-weight-bold color-icontext font-merryweather1">Monthly Maintainance</h4>
            <p class="color-icontext font-bebas">We will help your data to keep your data secure in monthly basis, Bugs Fixes, Security patches and CMS.
            </p>
          </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-5" data-aos="zoom-in">
          <div class="col-2">
            <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
              <span class="color-icon"><i class="fa fa-rocket fa-3x" aria-hidden="true"></i></span>
            </a>
          </div>
          <div class="col-9 pl-5">
            <h4 class="font-weight-bold color-icontext font-merryweather1">24x7 Support</h4>
            <p class="color-icontext font-bebas">we are 24x7 available and try to cover your request as soon as possible.
            </p>
          </div>
        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

    </div>
  </div>
</div>


<!-- services end -->
